<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Materialize CSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Fontawesome 6 CND-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <nav class="orange darken-2">
        <div class="nav-wrapper"></div>
      </nav>
      <div class="add">
        <button class="btn-floating btn-large waves-effect waves-light red" @click="addTaskPrompt"><i class="fa-solid fa-plus"></i></button>
      </div>
      <div class="container">
        <div class="section">
          <div class="row">
            <!-- card de tarefa que repete para cada item do array -->
            <div v-for="tarefa in tasks" class="card horizontal">
              <div class="card-stacked">
                <div class="card-content">
                  <p>{{tarefa.title}} <span class="new badge" data-badge-caption="">{{tarefa.dueTo}}</span> <div class="chip">{{tarefa.project}}</div></p>
                </div>
                <div class="card-action">
                  <a ><i class="fa-solid fa-pen-to-square" @click.self="getTask(tarefa.id)"></i></a>
                  <a ><i class="fa-solid fa-trash-can" @click.self="deleteTask(tarefa.id)"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Formulário de adicionar paciente-->
      <div  class="section task-add" :style="styleAdd">
          <h2>Adicionar Tarefa </h2>
          <div class="row">
            <div class="input-field col s12">
              <input v-model="newTask.title" placeholder="Entre com uma tarefa" id="title" type="text" class="validate"
              />
              <label for="title">Tarefa</label>
            </div>
            <div class="input-field col s12">
              <select id="project" v-model='newTask.project'>
                <option value="" disabled selected>Choose your option</option>
                <option value="Estudos">Estudos</option>
                <option value="Financeiro">Financeiro</option>
                <option value="Trabalho">Trabalho</option>
              </select>
              <label for="project">Pick a Project</label>
            </div>
            <div class="input-field col s6">
              <input v-model="newTask.dueTo" type="text" class="datepicker" />
              <label for="date">Data Vencimento</label>
            </div>
          </div>
          <button class="btn-floating btn-large waves-effect waves-light red" @click="saveTask"><i class="fa-solid fa-plus"></i></button>
        </div>

        <!--Formulário de editar task -->
        <div  class="section task-add" :style="styleEdit">
          <h2>Editar Tarefa </h2>
          <div class="row">
            <div class="input-field col s12">
              <input v-model="newTask.title" placeholder="Entre com uma tarefa" id="title" type="text" class="validate"
              />
              <label for="title">Tarefa</label>
            </div>
            <div class="input-field col s12">
              <select id="project" v-model='newTask.project'>
                <option value="" disabled selected>Choose your option</option>
                <option value="Estudos">Estudos</option>
                <option value="Financeiro">Financeiro</option>
                <option value="Trabalho">Trabalho</option>
              </select>
              <label for="project">Pick a Project</label>
            </div>
            <div class="input-field col s6">
              <input v-model="newTask.dueTo" type="text" class="datepicker" />
              <label for="date">Data Vencimento</label>
            </div>
            <div class="add">
              <button class="btn-floating btn-large waves-effect waves-light red" @click="editTask"><i class="fa-solid fa-plus"></i></button>
            </div>
          </div>
          </div>
        <!--Fim edit task-->

      <footer class="page-footer orange darken-3">
        <div class="footer-copyright">
          <div class="container">© 2022 Frontend</div>
        </div>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="./todo.js"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var elems, instances
        // Initialize select
        elems = document.querySelectorAll('select')
        instances = M.FormSelect.init(elems, {})
        // Initialize data picker
        elems = document.querySelectorAll('.datepicker')
        nstances = M.Datepicker.init(elems, {})
      })
    </script>
  </body>
</html>

<!-- npm init --> 
<!-- npm install json-server --save -->
<!-- npm install -g json-server -->
<!-- json-server --watch db.json -->